package dayXX

import println
import readInput

fun main() {
    fun part1(lines: List<String>): Long {
        return 1L
    }

    fun part2(lines: List<String>): Long {
        return 1L
    }


    part1(readInput("DayXX_test")).println()
    part1(readInput("DayXX")).println()
    part2(readInput("DayXX_test")).println()
    part2(readInput("DayXX")).println()

}
